<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="default">
	<listeners>
		<listener class-name="com.placepass.marriottMoments.utils.ScreenshotListener" />
	</listeners>
	<test name="Regression1" preserve-order="false">
		<classes>	
		
		    <class name="com.placepass.marriottMoments.tests.TestClass1"/> 
			<class name="com.placepass.marriottMoments.tests.ActivityBookingFlow"/>
			<class name="com.placepass.marriottMoments.tests.DestinationPageCases"/>
			<class name="com.placepass.marriottMoments.tests.HomePageCases"/>
			<class name="com.placepass.marriottMoments.tests.Others"/>
			<class name="com.placepass.marriottMoments.tests.SignInCases"/>
			<class name="com.placepass.marriottMoments.tests.TestClass1"/>	 		
		</classes>
	</test>
</suite>