<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="default">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Regression1" preserve-order="false">
		<classes>
			<class name="com.placepass.marriottMoments.tests.TestClass1">
				<methods>
					<include name="tc5_maxPriceValidation"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>